footer {
    background: #1c92d2;
    background: -webkit-linear-gradient(to top, #1c92d2, #f2fcfe);
    background: linear-gradient(to top, #1c92d2, #f2fcfe);
}

.icon-custom {
    padding: 4px;
    font-size: 46px;
    color: rgb(11, 11, 11);
    transition: transform 0.3s ease;
}

.icon-custom:hover {
    transform: scale(1.1);
}
