.container-landing {
    padding: 0;
    margin: 0;
    display: flex;
    height: 100vh; 
}

.left-section {
    flex: 1;
}

.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-custom-landing {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-overlay-landing {
    position: absolute;
    top: 0;
    text-align: left;
    max-width: 50%;
    padding: 20px;
}

.logoMobile {
    width: 120px;
    margin: 25px;
}

.titleMobile {
    width: 320px;
    margin: 25px;
}

.text-center {
    text-align: center;
}


.btn-custom-landing {
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    padding: 15px;
    width: 150px;
    color: white;
    background-color: #2a8dfd;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.btn-custom-landing:hover {
    color: white;
    background-color: #005ac0;
}


@media (max-width: 1024px) {
    .img-custom-landing {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .logo {
        width: 300px;
    }

}

@media (max-width: 884px) {
    .img-custom-landing {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .left-section {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        position: relative;
    }

    .text-overlay-landing {
        position: absolute;
        top: 0;
        text-align: left;
        max-width: 100%;
        padding: 20px;
    }

    .logo {
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

}

