.container-landing{
    background: url('../../assets/nurse.jpg');
    background-size: cover;
    background-position: center;    
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.columna-izquierda {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
